
body{

  font-family: 'Open Sans', sans-serif;
  /*margin:0; /* to rid of margin*/*/

}

/*
**Headers
*/

h1,h2,h3,h4,h5{
  font-family: "Lato";
}

/** Containers**/

.container{
  padding:40px 20px;
}

.container-space{
  padding: 80px 20px;
}

/** Backgrounds **/

.background-orange{
  background-color: #ecbe4d;
}


/**Header**/

header#main{
  margin-bottom: 40px;

}

header#main .brand a{

  font-family: "Pacifico";
  font-size:2em;
  color: #393f4a;
  display:block;
  margin-bottom: 20px;

}

/*Navigagion*/

nav#main ul{

  list-style-type: none;
  margin:0;
  padding:0;
  float:right;

}

nav#main ul li{
  display: inline-block;
  margin-right:20px;
}

nav#main ul li:last-child{
  margin-right:0;
}


/* the anchors..styling*/
nav#main ul li a{
  font-size: 78%;
  font-weight:600;
  text-transform: uppercase;

}

 nav#main ul li a:not(.button){
     color:#393f4a;
 }

/*button adjustment in nav*/
/*a.button.button-primary{
  margin-bottom: 0;
}*/

 /** BUTTONS **/

  .button{
    padding: 14px 30px;
    border-radius:5px;
  }

 .button-primary,
 .button-primary:hover{
   background-color: #3a3a3a;
   color:#fff;

 }


 /**Second Section Features**/


 .section2{
   margin-top:20px;
 }

 .section2 h1{
   font-size:5.5em;
   color:#000000;
   text-transform:uppercase;
   font-weight:900;
   line-height:70px;
   margin-bottom: 40px;

 }
